.search{
  display: flex;
  justify-content: end;
  margin: 20px;
}
#search{
  width: 300px;
  border: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(103, 206, 7, 0.09) 0px -3px 5px;
}
.searchbtn{
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(103, 206, 7, 0.09) 0px -3px 5px;

}