.nav {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  cursor: pointer;
  background-size: cover;
}

.image {
  background-image: url(/src/components/images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}

li {
  list-style: none;
  color: white;
  font-size: 21px;
  margin: 10px 0px 0px 0px;
}

li.tree {
  color: white;
  font-size: 30px;
  margin-top: -15px;
  margin: 10px 0px 0px 0px;
}

li:hover {
  color: #ccc; 
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out; 
}
