.container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background: #f7f7f7; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 20px;
}
.Login{
  flex-basis: 50%;
  margin: 20px; 
  padding: 20px;
  border: none; 
  border-radius: 20px;
  background: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  cursor: pointer; 
  overflow: hidden;
  display: block;
  align-items: center;
}
#Farmer{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 20px;
  width: 140px;
  margin: auto;
}
#Farmer:hover{
  background-color: lightblue;
}
#logo{
  font-size: 50px;
}
p{
  margin: 20px;
}
#logo2{
  margin-top: 60px;
  font-size: 50px;
}
#Shop{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 20px;
  width: 140px;
  margin: auto;
  margin-bottom: 50px;
}
#Shop:hover{
  background-color: lightblue;
}