.card{
    height: auto;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    height: 200px;
    width: 400px;
    padding: 20px;
    margin: 50px;
}
.Card{
    display: flex;
}
.image{
    mix-blend-mode: multiply;
    height: 100px;
}
.cardname{
    display: flex;
    justify-content: end;
    margin: -80px 20px 10px 0px;
}
.location{
    display: flex;
    justify-content: end;
    margin: 0px 45px 10px 0px ;
}
.price{
    display: flex;
    justify-content: end;
    margin: 0px 70px 10px 0px ;
}
.change{
    display: flex;
    justify-content: center;
    margin: 37px;
    background-color: #043927;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    color: white;
}